aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram==1.4.6
requests
tgcrypto
git+https://yt-dl.org/downloads/latest/youtube-dl
olefile
filetype
tldextract
lk21
motor
https://github.com/Tinche/aiofiles/archive/master.zip
dnspython
